
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 1px solid #41719c;
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 15px;
    padding-left: 25px;
    display: inline-block;
}

.required:after {
    content:"*";
    color: red;
}

label {
    background-color: #70AD47;
    color: white;
    width: 80px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid #41719c;
    margin-bottom: 10px;
    display: inline-block;
}

input[type=text2] {
    width: 300px;
    line-height: 37px;
    margin-left: 10px;
    border: 1px solid #41719c;
}

.a {
  display: contents;
  margin-left: 10000px;
  border: 1px solid red;
  background-color: lightgrey;
  padding: 10px;
  width: 10000px;
}

select{
    width: 150px;
    height: 40px;
    line-height: 50px;
    margin-left: 10px;
    border: 1px solid #41719c;
}

input[type=text1]{
    width: 144px;
    line-height: 37px;
    margin-left: 10px;
    border: 1px solid #41719c;
}

input[type=radio]{
    width: auto;
    line-height: 37px;
    margin-left: 10px;
    border: 1px solid #70AD47;
}

input[type=file]{
    width: auto;
    line-height: 37px;
    margin-left: 10px;
}

input[type = submit] {
    width: 120px;
    height: 45px;
    background-color: #70AD47;
    color: white;
    margin-left: 190px;
    border: 1px solid #41719c;
    padding: 5px 25px;
    border-radius: 7px;
    margin-top: 15px;
}

.image_input {
    display: flex;
    align-items: flex-start;

}

.picture {
    display: block;
    width: 30%;
    height: 30%;
}
