
.container{
    width: 450px;
    height: 700px;
    border: #799bb9 solid 2px;
}

.container_margin{
    margin: 50px 30px;
}

table{
    border-spacing: 2em;
}
.blue_bgr{
    background-color: #70ad47;
    border: #799bb9 solid 2px;
    color: #fff;
    width: 100px;
    height: 30px;
    text-align: center;
    
}

.red_asterisk::after{
    content: "*";
    color: red;
    
}

.box{
    border: #799bb9 solid 1px;
}

#fullname{
    width: 200px;
    height: 30px;
}

#day{
    width: 100px;
    height: 30px;
}

#month{
    width: 100px;
    height: 30px;
}

#year{
    width: 100px;
    height: 30px;
}

#signup{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 23px;
    margin-top: 15px;
    margin-left: 130px;
    background-color: #70ad47;
    color: #fff;
    border: #799bb9 solid 2px;
    border-radius: 10px;
}

#address{
    width: 200px;
    height: 30px;
}

#thongtinkhac{
    width: 300px;
    height: 50px;
}

#date{
    width: 96px;
    height: 26px;
    padding: 0px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}